#clicface-chart .clicface-jOrgChart .clicface-line {
  width: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-tree {
  width: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-top {
  border-top-width: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-bottom {
  border-bottom-width: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-left {
  border-right-width: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-right {
  border-left-width: 2px;
}

#clicface-chart .clicface-jOrgChart .clicface-side-fin {
  height: 4px;
}

#clicface-chart .clicface-jOrgChart .clicface-side-epais {
  height: 4px;
}